<div class="container">
    <div class="container-content">
        <div class="profile-image" *ngFor="let d of ProfilePath">
            <img id="icon" [src]="d.src.medium">
        </div>
        <div class="profile-name">
            <div class="name">
                <h2>emersonfranco</h2>
            </div>
            <div class="more-options">
                <span><img id="icon-menu" [src]="MenuPath"></span>
            </div>

        </div>
        <div class="profile-desciption">
            <h5>emersonfranco</h5>

        </div>

    </div>

</div>