<div class="container">

    <footer>
        <div class="left">
            <div class="logo">
                <div id="centralizar">
                    <img  id="logo-vsco" [src]="logoPath" alt="">
                    <h3>VSCO</h3>
                </div>           
            </div>

        </div>
        <div class="right">
            <div class="container-table">
                <table>
                    <tr>
                        <th>Company</th>
                        <th>Community</th>
                        <th>Legal</th>
                        <th>Contact</th>
                    </tr>
                    <tr>
                        <td>About Us</td>
                        <td>Guidelines</td>
                        <td>Terms of Use</td>
                        <td>Brands</td>
                    </tr>
                    <tr>
                        <td>Our Product</td>
                        <td>Safety</td>
                        <td>Privacy Policy</td>
                        <td>Press</td>
                    </tr>
                    <tr>
                        <td>Careers</td>
                        <td>Support</td>
                        <td>Cookie Notice</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Forum</td>
                        <td>Cookie Settings</td>
                        <td></td>
                    </tr>    
                </table>
            </div>

        </div>
        
        
    </footer>
</div>