<div class="container">
    <header class="header">
        <nav class="menu">
            <ul>
                <li>
                    <div class="homeIcon">
                        <!-- <img id="icon" [src]="IconPath"> -->
                        <a href="#">vsco</a>
                    </div>                    
                    
                </li>
                <li>
                    <a href="#">Stories</a>
                </li>
                <li>
                    <a routerLink="/feed" routerLinkActive="activeLink">Feed</a>
                </li>
                <li>
                    <a routerLink="/profile" routerLinkActive="activeLink">Profile</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
