


.container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(114, 114, 114, 0.52), rgb(19, 19, 19)), url(../../../assets/imgs/capa-home.jpg);
    background-size: 100%;
       

}

.teste{
    background-color: rgb(19, 19, 19);
    height: 3000px;
    width: 100%;
}